[Desktop Entry]
Comment=Your first-class visual companion for your personal desktop computer.
Name=DesktopPal97
X-KDE-PluginInfo-Author=BunnyMnemonic
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL3
X-KDE-PluginInfo-Name=DesktopPal97
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=
X-Plasma-API=5.0
