[Desktop Entry]
Name=Balaton
X-KDE-PluginInfo-Name=Balaton
X-KDE-PluginInfo-Author=BunnyMnemonic
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=GPL3
